 <h2 class="page-header">Tic Tac Toe Dashboard</h2>
<p>Welcome to your TicTackToe Game</p>  
<div id="players">
  <div id="X" class="">Player X</div>
  <div id="O" class="">Player O</div>
  <input type="button" class="button" value="New Game">
</div>
</div id="tictactoe">
<table>
    <tr>
        <td id="0"></td>
        <td id="1"></td>
        <td id="2"></td>
    </tr>
    <tr>
        <td id="3"></td>
        <td id="4"></td>
        <td id="5"></td>
    </tr>
    <tr>
        <td id="6"></td>
        <td id="7"></td>
        <td id="8"></td>
    </tr>
    </table>
</div>

