<div id="userlistcontainer">
        <h4 class="select-player">Select a Player</h4>
        <div id="userlist"></div>
        <div id="root"></div>
</div>
 

    <script type="text/babel">
    
    var socket= io.connect("http://localhost:3000");
    console.log("it is a babel code");
     var lists=[];
    
    socket.emit("userlist",{
           user:"newuser"
        });
        var lists=[];

       socket.on("userlist", function(data){ 
                console.log("socket.on");
                lists=data;
                console.log('before if statment',lists)
                if(lists===[]){
                      lists=['No Users'];

                 } 
                 //else {
                   //var renderlis=lists.map(x=> <h3>x</h3>)

                // }
                  console.log('bbbbbbbbbbbbbbbbbb');
        })
       
                        
        
         
       
    
                   

 
 var OnlineUsers = React.createClass({
        
           
        
      
render:function(){
                   return(
                           <div>
                                
                                 <h2>Hellllo OnlineUsers</h2>,
                                 <h3>{this.props.usersLists}</h3>
                                 
                           </div>
                   ) 
        }                  
           

 })
 //+++++++++++++++++++++++++++++++++

  
   var App =React.createClass({
           render:function(){
                   return(
                           <div>
                                
                                 <h2>Hellllo Post</h2>,
                                 <OnlineUsers usersLists={lists}/>
                           </div>
                   )
                   
           }
   });   

      ReactDOM.render(
        <App />,
        
        
      
        document.getElementById('root')
      );

    </script>


 {{!-- <script type="text/javascript" > 


 var socket= io.connect("http://localhost:3000");
 //console.log("fromusers.handelbars",userEmail);
 socket.emit("userlist",{
           user:"newuser"
        })
 

 var userlist1 = document.getElementById('userlist');

 var btn = document.getElementById('send');
 
 socket.emit("userlist",{
           user:"newuser"
        })
 

 //listen for event
 socket.on("userlist", function(data){
         userlist.innerHTML='';
         
         for(i=0;i<data.length;i++){
                      
                          userlist1.innerHTML += '<button class="playerslistbtn" name="button" onclick="alert("aws")">'+data[i]+'</button></br>';
                      
         }
 })
 
 </script> --}}
