<div id="userlistcontainer">
        <h4 class="select-player">Select a Player</h4>
        <div id="userlist"></div>
        <div id="root"></div>
</div>
 

    <script type="text/babel">
    var socket= io.connect("http://localhost:3000");
    socket.emit("userlist",{
           user:"newuser"
        })
//+++++++++++++++++

 socket.on("userlist", function(data){ console.log("socket.on");var lists=data.map(x => x);})

//++++++++++++++++++++++

 
 var OnlineUsers = React.createClass({
      
           render:function(){
                       
                
                   return(
                           <div>
                                 <h2>On line Aws</h2>
                                 <h3>{this.props.lists}</h3>
           
                           </div>
                  )
                   
           }

 })
 //+++++++++++++++++++++++++++++++++

  
   var Post =React.createClass({
           render:function(){
                   return(
                           <div>
                                
                                 <h2>Hellllo Aws</h2>,
                                 <OnlineUsers />
                           </div>
                   )
                   
           }
   });   

      ReactDOM.render(
        <Post />,
        
        
      
        document.getElementById('root')
      );

    </script>


 <script type="text/javascript" > 


 var socket= io.connect("http://localhost:3000");
 //console.log("fromusers.handelbars",userEmail);
 socket.emit("userlist",{
           user:"newuser"
        })
 

 var userlist1 = document.getElementById('userlist');

 var btn = document.getElementById('send');
 socket.emit("userlist",{
           user:"newuser"
        })
      

 


 //listen for event
 socket.on("userlist", function(data){
         userlist.innerHTML='';
         
         for(i=0;i<data.length;i++){
                      
                          userlist1.innerHTML += '<button class="playerslistbtn" name="button" onclick="alert("aws")">'+data[i]+'</button></br>';
                      
         }
 })
 
 </script>





